// Singular
.work {
  @include grid-column(12);
  @include grid-column-collapse;
  @include breakpoint(large) {
    width: 960px;
    margin: 0 auto;
    float: none;
  }
  @include element('holder') {
    @include grid-column(12);
    @include grid-column-collapse;
  }
  @include element('heading') {
    @include grid-column(12);
    @include grid-column-collapse;
    @include breakpoint(medium) {
      @include grid-column(3);
      @include grid-column-collapse;
    }
    @include breakpoint(large) {
      @include grid-column(3);
    }
    span {
      font-family: 'alternate-gothic-no-3-d', sans-serif;
      text-transform: uppercase;
      letter-spacing: rem-calc(2);
      border-bottom: 2px $warning-color solid;
      margin-bottom: rem-calc(10);
      display: inline-block;
    }
  }
  @include element('desciption') {
    @include grid-column(12);
    @include grid-column-collapse;
    @include breakpoint(large) {
      @include grid-column(9);
    }
    a {
      font-size: rem-calc(14);
      font-family: 'alternate-gothic-no-3-d', sans-serif;
      text-transform: uppercase;
      letter-spacing: rem-calc(2);
      line-height: normal;
      color: $white;
      background-color: $alert-color;
      display: inline-block;
      padding: rem-calc(6 12);
      margin-bottom: rem-calc(-5);
      -webkit-transition: background-color 300ms linear;
      -ms-transition: background-color 300ms linear;
      transition: background-color 300ms linear;
      &:hover {
        background-color: $warning-color;
      }
    }
  }
  @include element('picture') {
    @include grid-column(12);
    @include grid-column-collapse;
    padding: rem-calc(30 0 10);
    div {
      margin: rem-calc(55) auto 0;
      position: absolute;
      left: 0;
      right: 0;
      @include breakpoint(large) {
        margin: rem-calc(180) auto 0;
      }
    }
  }
}